{% extends '_base.html' %}
{% load crispy_forms_filters %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
    {% translate 'logout' %}
{% endblock %}

{% block content %}
    <div class="breadcrumb-area bg-color ptb--90" data-bg-color="#f6f6f6">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex justify-content-between align-items-center flex-sm-row flex-column">
                        <h1 class="page-title">{% translate 'logout' %}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb area End -->

    <!-- Main Content Wrapper Start -->
    <div class="main-content-wrapper">
        <div class="page-content-inner pt--75 pb--80">
            <div class="container">
                <div class="row">
                    <form action="" method="post">
                        {% csrf_token %}
                        <p>{% translate 'Your about to logout, Are you sure ?' %}</p>
                        <input class="btn btn-danger" type="submit" value="{% translate 'Yes' %}">
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

